input{
	display: none;
}
label{
	display: block;
	padding: 8px 10px;
	margin: 0 0 1px 0;
	background: #1a1745;
	color: #FFF;
}


.content{
	background: white;
	padding: 10px 20px;
	border: 1px solid #A7A7A7;
}
p{
	transition: ease 0.5s;
}
input + label + .content{
	display: none;
}
input:checked + label + .content{
	display: block;
}
#accord{
	float: left;
	width: 100%;
	position: relative;
}
#accord label{
	float: left;
	width: 100%;
	background: #1a1745;
	color: #fff;
	padding: 5px 5px;
	border-bottom: 1px solid #fff;

}

#accord .tab-content1{
	float: left;
	width: 280px;
	padding: 0 10px;
	height: 0;
	overflow: hidden;
}
#accord input:checked + label + .tab-content1{
	padding:10px;
	height: auto;
}
#accord input:checked + label{
	background: #1a1745;
	color: white;
}
#accord input{
	display: none;
}